	<div id="home">
		
		<div class="logo">
		    <img src="/images/drone-logo.png" alt="The Drone Short Sci-Fi Film">
		</div>

		<h4>Short Sci-Fi Film</h4>
		<h5>A short film depicting a near future where we have become a society entirely under surveillance</h5>

		<div class="scroll-next">
		    <a href="#synopsis" class="hvr-bob"><img src="/images/arrow-down.png" /></a>
		</div>
	</div>

	  <div id="synopsis">
	      <h2>Synopsis</h2>
	      <p>Leon is a highly qualified surveillance officer working for an undercover organisation. The work-obsessed Leon never makes an error in his judgment. However, away from his work Leon lives an isolated life, resembling the very technology his life revolves around. His monotonous, mechanic life, is engaged to change when he stumbles across the enigmatic Maya outside a gallery, who's world he begins to investigate with his drones. It is a world of intimacy and intricacy. The causality of what he discovers has the potential to either enrich his life, or destroy his career.</p>
	  </div>

	<div id="crew" class="row">
	      <h2>The Crew</h2>
	      <ul>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/raitis-petrovs.jpg" alt="Raitis Petrovs">
	            </div>
	            <div class="eight columns">
	              <h5>Director</h5>
	              <h6>Raitis Petrovs</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/andre-thomas.jpg" alt="André Thomas">
	            </div>
	            <div class="eight columns">
	              <h5>Producer</h5>
	              <h6>André Thomas</h6>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/gabriel-calderwood.jpg" alt="Gabriel Calderwood">
	            </div>
	            <div class="eight columns">
	              <h5>Production Designer</h5>
	              <h6>Gabriel Calderwood</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/natalja-safranova.jpg" alt="Natalja Safronova">
	            </div>
	            <div class="eight columns">
	              <h5>Director of Photography</h5>
	              <h6>Natalja Safronova</h6>
	            </div>
	          </div>
	        </li>
	         <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/ben-wilson.jpg" alt="Ben Wilson">
	            </div>
	            <div class="eight columns">
	              <h5>Co-Producer</h5>
	              <h6>Ben Wilson</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/michaela-stasova.jpg" alt="Michaela Stašová">
	            </div>
	            <div class="eight columns">
	              <h5>Assistant Producer</h5>
	              <h6>Michaela Stašová</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/tommy-coulter-liston.jpg" alt="">
	            </div>
	            <div class="eight columns">
	              <h5>Editor / 1st Assistant Director</h5>
	              <h6>Tommy Coulter-Liston</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/norman-tamkivi.jpg" alt="Norman Tamkivi">
	            </div>
	            <div class="eight columns">
	              <h5>1st Assistant Camera</h5>
	              <h6>Norman Tamkivi</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/omar-madar.jpg" alt="Omar Madar">
	            </div>
	            <div class="eight columns">
	              <h5>Co-Director of Photography</h5>
	              <h6>Omar Madar</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/ronnie-alele.jpg" alt="Ronnie Alele">
	            </div>
	            <div class="eight columns">
	              <h5>Aerial Cinematographer</h5>
	              <h6>Ronnie Alele</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/no-photo.png" alt="Jess Ho">
	            </div>
	            <div class="eight columns">
	              <h5>Drone Pilot / Camera Man</h5>
	              <h6>Jess Ho</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/chia-ying-phebe-wu.jpg" alt="Chia-Ying Phebe Wu">
	            </div>
	            <div class="eight columns">
	              <h5>Hair and Make Up</h5>
	              <h6>Chia-Ying Phebe Wu</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/owen-jones.jpg" alt="Owen Jones">
	            </div>
	            <div class="eight columns">
	              <h5>Sound Designer</h5>
	              <h6>Owen Jones</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/owen-crouch.jpg" alt="Owen Crouch">
	            </div>
	            <div class="eight columns">
	              <h5>Sound Designer/ Sound Recorder</h5>
	              <h6>Owen Crouch</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/celine-ramseyer.jpg" alt="Céline Ramseyer">
	            </div>
	            <div class="eight columns">
	              <h5>Production Assistant</h5>
	              <h6>Céline Ramseyer</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/sophia-tai.jpg" alt="Sophia Tai">
	            </div>
	            <div class="eight columns">
	              <h5>Graphic Designer / Wed Designer</h5>
	              <h6>Sophia Tai</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/no-photo.png" alt=""Dorna Moradi>
	            </div>
	            <div class="eight columns">
	              <h5>Graphic Designer</h5>
	              <h6>Dorna Moradi</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/antoine-lassalle.jpg" alt="Antoine Lassalle">
	            </div>
	            <div class="eight columns">
	              <h5>Camera Behind the Scenes</h5>
	              <h6>Antoine Lassalle</h6>
	            </div>
	          </div>
	        </li>
	        <li class="person text-left">
	          <div class="row">
	            <div class="four columns">
	              <img src="/images/maris-petrovs.jpg" alt="Maris Petrovs">
	            </div>
	            <div class="eight columns">
	              <h5>Web Developer</h5>
	              <h6>Maris Petrovs</h6>
	            </div>
	          </div>
	        </li>
	      </ul>
	  </div>
	       

</div>