<div class="container">

  <header>
    <div class="menu">
      <div class="line">
        <ul class="nav">
          <li><a href="#home" title="">Home</a></li>
          <li><a href="#synopsis" title="Synopsis">Synopsis</a></li>
          <li><a href="#crew" title="The Crew">The Crew</a></li>
          <li id="donate"><a href="https://www.kickstarter.com/projects/andreelithomas/the-drone-short-sci-fi-film" title="">Donate</a></li>
        </ul>
      </div>
      <i class="line"></i><i class="line"></i> 
    </div>
      
  </header>
